.cssgrid {
	display: grid;
	grid-gap: 10px;
	width: 100%;
}

.cssgrid .loginButton {
	grid-column: 3;
	grid-row: 1;
	text-align: right;
}

.cssgrid .articles {
	grid-column: 1/4;
	grid-row: 2;
}

.cssgrid .editForm {
	grid-column: 1/4;
	grid-row: 3;
}

.article .title {
	font-size: 1.875em;
}