/*  header stuff */
body {
	padding-top: 40px !important;
	height: auto !important;
}

header {
	background: black;
	color: white;
	height: 40px;
	/* 	height: auto; */
	position: fixed;
	top: 0px;
	transition: top 200ms ease-in-out;
	width: 100%;
	z-index: 210;
	overflow: hidden;
}

.nav-up {
	top: -40px;
}

header div.row h3 {
	margin: 0.2em 2% !important;
}

header div.row>div {
	margin: 0.6em 2% !important;
}

.signin {
	border: 0.1em solid white;
	border-radius: 160px;
	padding: 0em 0.3em 0.3em 0.3em;
	top: -0.2em;
	position: relative;
	background: #666;
}

/* a.signout { */
header .titlebar .material-icons {
	top: -0.16em;
	position: relative;
	font-size: 2em;
	padding-left: 0.5em;
}

.container .row .iconTextLink * {
	vertical-align: middle;
}

.signin:hover {
	background: #999;
}

.material-icons:hover {
	cursor: move;
}

header a:link {
	text-decoration: none;
	color: white;
}

header a:visited {
	color: white;
}

header a:hover {
	color: white;
}

header a:active {
	color: white;
}

main a.iconTextLink:link {
	text-decoration: none;
	color: black;
}

main a.iconTextLink:visited {
	color: black;
}

main a.iconTextLink:hover {
	color: black;
}

main a.iconTextLink:active {
	color: black;
}

form input {
	width: 90%;
}

form textarea {
	width: 90%;
	height: 24em;
}

.tagLineHeader {
    font-size: 0.82em;
}

.tag {
	background: #ccf;
/* 	border: 2px solid blue; */
/*     border-radius: 1em; */
    display: inline;
    font-size: 0.82em;
    padding: 0 0.2em;
    margin: 0 0.2em;
}

/* jquery */
.ui-autocomplete-loading {
	background: white url("images/spinner.gif") right center no-repeat;
	background-size: 16px;
}

/* article display */

.articleContent h1, .article h1 {
  font-size: 1.6rem;
}

.articleContent h2 {
  font-size: 1.375rem;
}

.articleContent h3 {
  font-size: 1.125rem;
}

.articleContent h4 {
  font-size: 1rem;
}

.articleContent h5 {
  font-size: 0.875rem;
}

.articleContent h6 {
  font-size: 0.8rem;
}

.articleContent blockquote, .articleContent table {
    background: #eee;
    padding: 0 0.3em;
    border: solid #ddd;
}

.articleContent code {
    background: #eee;
    font-family: monospace;
}

.articleContent pre {
	background: #eee;
    font-family: monospace;
    display: inline-block;
    padding: 0.3em;
}

.article {
    border-left: thick solid #ddd;
    padding-left: 0.5em;
    background: #f3f3f3;
}

.article .articleTitle {
    display: inline;
}

.article .articleMeta .iconTextLink * {
	padding-left: 1em;
	font-size: 1em;
}

.article .articleMeta {
	font-family: monospace;
	font-size: 1em;
	color: #777;
}

.articleManager textarea, .articleManager input {
	font-family: monospace;
}

input[readonly]
{
    background-color: #ddd;
}

.settings .editForm {
    border-top: dashed #ddd;
}

.settings .editForm textarea {
    font-family: monospace;
}

footer {
	padding-top: 3em;
	text-align: center;
}

/* radial-gradient(ellipse at center, #604060 0%, #1d1d2b 100%) */
